{% extends "html/_base.html" %}
{% load static %}
{% block title %} Main {% endblock %}

{% block navbar %}{% endblock navbar %}

{% block content %}
    <div class="center-block">
        <div class="is-not-auth"></div>
        <div class="mt-5">
            <div class="row">
                <a class="btn btn-primary border-2 btn-lg btn-block p-lg-4"
                   href="{% url 'register' %}"
                   style="border-color: darkblue">Register</a>
            </div>
        </div>
        <div class="mt-5">
            <div class="row">
                <a class="btn btn-primary border-2 btn-lg btn-block p-lg-4" href="{% url 'login' %}"
                   style="border-color: darkblue">Log-In</a>
            </div>
        </div>
    </div>
{% endblock content %}