{% extends "html/_base.html" %}
{% load static %}
{% block title %} Main {% endblock %}

{% block navbar %}{% endblock navbar %}

{% block content %}
    <p>{{ user.first_name }} {{ user.nick }} {{ user.last_name }}</p>
    <img src="{% static avatar.image.url %}" alt="">
    <div class="mt-3">
        <a class="btn btn-block btn-primary" href="{% url 'edit' %}">Edit profile</a>
    </div>
    {% for friend_request in all_friend_requests %}
        <h2>{{ friend_request.from_user }}
            <a class="btn btn-block btn-primary" href="{% url 'accept_friend_request' friend_request.id %}">Add</a>
        </h2>
    {% endfor %}
{% endblock content %}