{% extends "html/_base.html" %}
{% load static %}
{% block title %} Main {% endblock %}

{% block navbar %}{% endblock navbar %}

{% block content %}
        <p>{{ user.first_name }} {{ user.nick }} {{ user.last_name }}</p>
        <img src="{% static user.photo.image.url %}" alt="">
        <br>
        <a href="{% url 'edit' %}">Edit profile</a>
        {% for friend_request in all_friend_requests %}
            <h2>{{ friend_request.from_user }}
                <a href="{% url 'accept_friend_request' friend_request.id %}">Add</a>
            </h2>
        {% endfor %}
{% endblock content %}